#titulo {
    text-align: center;
    color: aqua;
}
p{
    text-align: center;
    
}
.entrada_usuario {
    
    border: 1px solid;
    text-align: center;
    border-left: auto;
    border-right: auto;
    background-color: blanchedalmond;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    scale: 1.5;
}
.rodape{
    border: 2px, solid;
    position: fixed;
    width: 100px ;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: beige;


}
